<table>
  <thead style="background:#dedede">
    <td style="width:20%">
      Author
    </td>
    <td style="width:20%">
      Title
    </td>
    <td style="width:20%">
      Pages
    </td>
    <td style="width:20%">
      Category
    </td>
    <td style="width:20%">
    </td>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td style="width:20%">
        {{book.author}}
      </td>
      <td style="width:20%">
        {{book.title}}
      </td>
      <td style="width:20%">
        {{book.pages}}
      </td>
      <td style="width:20%">
        {{book.category.name}}
      </td>
      <td style="width:20%; color:blue; text-decoration:underline; cursor:pointer">
        <span (click)="remove(book)">Remove</span>
      </td>
    </tr>
  </tbody>
  <tfoot style="background:#dedede">
    <tr>
      <td colspan="2">
        Total Pages</td>
      <td>
        <span *ngIf="totalPages"> {{totalPages}}</span>
      </td>
      <td colspan="2"></td>
    </tr>
  </tfoot>
</table>

<br><br>

<div>
  <input type="button" value="Add" (click)="addForm()" />
</div>